<html>
	<head>
		<title>Freshr Create Post</title>
		<meta charset="utf-8">
	    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
		{% load staticfiles %}
		<nav id="myNavbar" class="navbar navbar-default">
			<div class="navbar-header">
				<a class="brand" href="/"><img src='{% static "logos/freshrlogo.png" %}' alt="logo" height="50" width="120" /></a>
			</div>
		</nav>
		<form enctype="multipart/form-data" method='POST'>
			<div class="container-fluid">
				<div class="text-left-align">
					<h1 class="text-primary">Create new post</h1>
                    {% if error %}
                        <div class="form-group has-error">
                            <span class="help-block">{{ error }}</span>
                        </div>
                    {% endif %}
					<input type='text' id='name_input' name='name_text' placeholder='Your Name' /><br/>
					<br/>
					<input type='text' id='phone_input' name='phone_text' placeholder='Your Phone Number' /><br>
					<br/>
					<textarea id='text_input' name='item_text' placeholder='What you are selling'></textarea><br/>
					<br/>
					<input type="file" name="pic" accept="image/*">
					<br/>
					<input class="btn btn-primary" type='submit' id='submit' title='submit' />
				</div>
				{% csrf_token %}
			</div>
		</form>	
	</body>
</html>