<html>
<head>
	<title>Freshr Create Post</title>
</head>
<body>
	<form enctype="multipart/form-data" method='POST'>
		<h1>Create new post</h1>
		<input type='text' id='name_input' name='name_text' placeholder='Your Name' />
		<input type='text' id='phone_input' name='phone_text' placeholder='Your Phone Number' /><br>
		<textarea id='text_input' name='item_text' placeholder='What you are selling'></textarea><br>
		<input type="file" name="pic" accept="image/*">
		<input type='submit' id='submit' title='submit' />
		{% csrf_token %}
	</form>
</body>
</html>